<!-- napproval.ejs -->

<%- include("partials/header") -%>
<div class="napproval" style="background-image: url(../Images/ImgDisplay.png);
background-attachment: fixed;
background-color: #D8E9A8;
background-size: cover;
padding-bottom: 25rem;
text-align: center">
  <div class="head container-fluid" style="padding-left:0;padding-right:0;">
    <nav class="approvalNavbar adminNavbar navbar navbar-expand-lg navbar-dark bg-dark" >
      <a href="#" class="navbar-brand feedly">FoodXTRA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">LogOut</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container approval">
  <form>
  <table class="table" style="background-color:#008000;padding:10px;border-radius:10px;color:white;" >
  <th>Details</th><th>Approve</th><th>Reject</th>
  <%doc.forEach(function(found){%>
  <tr>
  <td class="title">NGO name: <%=found.name%><br>
    NGO Type: <%=found.type%><br>
    NGO Unique ID: <%=found.uniqueid%><br>
    Phone number: <%=found.phno%><br>
    Email: <%=found.email%><br>
    Address: <%=found.address%><br>
    Documents: <%=found.documents%><br>
  </td>
  <td><a href='/approve1/<%=found._id%>' class="btn btn-md btn-primary">Approve</a></td>
  <td><a href='/reject1/<%=found._id%>' class="btn btn-md btn-primary">Reject</a></td>
  </tr>
  <%})%>
  </table>
  </form>
</div>
</div>
<%- include("partials/footer") -%>